.output {
    font: 1rem 'Poppins', Sans-serif;
}


/*Body*/

body{
    background-color: rgba(77, 199, 255, 0.872);
    font-family: "Poppins";
    margin: 0;
}
.contenedor-actividades{
    padding: 20px 30px;
    margin:auto; 
}
.actividades{
    text-align: center;
    padding-top: 70px;
    margin-bottom: 20px;
    margin-top: 60px;
}
/*actividades*/

.contenedor{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 30px 0px 0px;
    background: hsla(187, 42%, 85%, 0.203);
    margin-bottom: 20px;
    box-shadow: 0 0 6px rgba(0, 1, 0, 0.189);
}

.titulo{
    color:  rgb(36, 44, 65);
    text-align: left;
    margin-bottom: 10px;
    padding: 0px 0px 10px 15px;
}
.actividades{
    margin: 70px;
    
}
.sobre-nosotros .contenedor-textos{
    width: 45%;
}

.contenido-textos h4{
    margin-bottom: 10px;
    padding: 0px 15px 10px 15px;
    color: rgb(36, 44, 65);
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 30px;
    text-align: justify;
    color: rgb(36, 44, 65);
}

.img{
    width: 45%;
}
.hover-actividades{
    text-align: end;
    padding: 15px;
}

.hover-actividades a{
    color:rgb(50, 47, 47);
    font-size: 20px;
    text-decoration: none;
    font-weight: 15px;
    cursor: pointer;
    transition: 0.5s;   
}
a:hover{
    background: rgba(95, 160, 173, 0.447);
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .contenedor{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contenedor-actividades .contenido-textos{
        width: 90%;

    }
    .img{
        width: 90%;
    }

}
