.output {
    font: 1rem 'Poppins', Sans-serif;
}
body{
    background-color: rgba(77, 199, 255, 0.872);
    font-family: "Poppins";
}
header {
    background-image:url(../img/fondo_agua.gif) ;
    padding: 10px;
    position: sticky;
    border: none;
    font-family: "MuseoModerno";
    font-size: x-large;
}
section {
    position: relative;
}
.grid-encabezado {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-encabezado-logo {
    text-align: center;
    border: none;
}
.grid-encabezado-nombre {
    text-align: center;
    border: none;
    font-size: 200%;
    font-weight: bold;
}
nav {
    text-align: center;
}
.nav {
    background: linear-gradient(to bottom, rgb(90, 148, 242), blue);
    border: 1px;
    text-decoration: none;
    border-radius: 15%;
    /* background-color: blue; */
    color: white;
    padding: 0px 5px;
    margin: 5px;
    box-shadow: 2px 2px black;
}
.flecha {
    text-align: right;
    position:sticky;
    margin: 5px;
}
footer {
    background-color: rgb(39, 39, 172);
    color: aquamarine;
    font-size: x-small;
    text-align: center;
}
