body {
    font-family: 'Poppins', Sans-serif, Times;
    background-color: rgb(39, 39, 172);
    color: aquamarine;
    font-size: 0.8em;
    text-align: center;
    margin-top: 0.5rem;
    height: 100%;
    width: 100%;
    line-height: 0.2em;
}
.contenedor {
    display: flex;
}
.info {
    display: inline-block;
}
.contacto {
    width: 50%;
}
.autores {
    width: 20%;
}
.creditos {
    width: 30%;
}
.titulo {
    color: white;
}
footer {
    margin: 0;
    background-color:black;
    display: inline;
}
