body{
    background-color: rgba(77, 199, 255, 0.872);
    font-family: 'Poppins', Sans-serif, Times;
    margin: 0.5em;
}
.seccion {
    position: relative;
    text-align: center;
    font-size: large;
    border: 5%;
    top: 9em;
}
.articulo1 {
    background-color:beige;
}
.articulo2 {
    background-color: rgb(89, 241, 162);
}
.articulo3 {
    background-color: rgb(238, 243, 104);
    font-size: xx-small;
}
.articulo4 {
    background-color: rgb(241, 175, 89);
    font-size: small;
}
.articulo5 {
    background-color: rgb(249, 112, 112);
}
h1 {
    font-size:xx-large;
}
h2 {
    font-size: large;
    color: red;
    text-align: auto;
    margin: 25px;
}
span {
    font-weight: bold;
}
.grid-container img {
    /* max-width: 400px;
    max-width: 300px; */
    width: 50%;
    height: auto;

}
.grid-container {
    display: grid;
    grid-template-columns: 35% 65%;
    column-gap: 5px;
    justify-content: space-around;
    align-content: center;
}
.grid-item2 table,th,td {
    table-layout: auto;
    border: 1px solid darkred;
    margin: auto auto 5px;
}
table {
    margin: 15px
}
form {
    width: auto;
    margin: 5px 20%;
}
/* legend {
    margin: 5px 10px;
} */
input:focus,textarea:focus {
    border: 1px solid violet;
    background-color: rgb(219, 79, 241);
    color: white;
}
input[type=text],input[type=email],input[type=tel]{
    width: 70%;
    border-radius: 5px;
}
textarea {
    width: 70%;
    height: 150px;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
}
