body {
    font-family: 'Poppins', Sans-serif, Times;
    background-color: rgb(39, 39, 172);
    color: aquamarine;
    font-size: 0.8em;
    text-align: center;
    margin-top: 0.5rem;
    height: auto;
    width: 100%;
    line-height: 0.2em;
}
.contenedor {
    display: flex;
}
.info {
    display: inline-block;
}
.contacto {
    width: 40%;
}
.autores {
    width: 20%;
}
.creditos {
    width: 40%;
    line-height: 0.5em;
}
/* Color del link sin visitar */
.creditos a:link {
    color:lightblue;
}
/* Color del link una vez visitado */
.creditos a:visited {
    color:lightcoral;
}
.titulo {
    color: white;
}
.copyright {
    margin: 0;
    background-color:black;
    display: inline;
}
