* {
    margin: 0px;
    padding: 0%;
}
.output {
    font: 1rem 'Poppins', Sans-serif;
    /* width: 100vw; */
    border: none;
}
body{
    background-color: rgba(77, 199, 255, 0.872);
    font-family: "Poppins";
    text-align: justify;
   }
   h1, h2, h3 {
    font-weight: bold;
    text-decoration: underline ;
   }
header {
    background-image:url(../img/fondo_agua.gif) ;
    padding: 10px;
    position: relative;
    font-family: "MuseoModerno";
    font-size: x-large;
    width: 100%;
    margin: 5px;
    vertical-align: top;
    z-index: 1;
}
section {
    position: relative;
    /* top: 20vh; */
    margin: 5px;
}
.grid-encabezado {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-encabezado-logo {
    text-align: center;
    border: none;
}
.grid-encabezado-nombre {
    text-align: center;
    border: none;
    font-size: 200%;
    font-weight: bold;
}
.imagenes-instalaciones{
    height: 300px;
    width: 300px;
}
.imagenes-team{
    height: 100px;
    width: 150px;
}
nav {
    text-align: center;
}
.nav {
    background: linear-gradient(to bottom, rgb(90, 148, 242), blue);
    border: 1px;
    text-decoration: none;
    border-radius: 15%;
    /* background-color: blue; */
    color: white;
    padding: 0px 5px;
    margin: 5px;
    box-shadow: 2px 2px black;
}
.nav img {
    width: 25px;
}
.cuerpo {
    width: 70%;
}
.flecha {
    position: fixed;
    bottom: 10%;
    right: 2%;
}
footer {
    background-color: rgb(39, 39, 172);
    color: aquamarine;
    font-size: x-small;
    text-align: center;
    height: 3vw;
}

