* {
    margin: 0;
    padding: 0;
}
.output {
    font: 1rem 'Poppins', Sans-serif, Times;
    /* width: 100vw; */
    border: none;
}
body{
    background-color: rgba(77, 199, 255, 0.872);
    font-family: 'Poppins', Sans-serif, Times;
    margin: 0.5em;
    padding-top: 2em; /* Padding para que no se encime con el Encabezado*/
}
section {
    position: relative;
    top: 13rem;
    margin: 0.5em;
    /* z-index: 1; */
}
.cuerpo {
    width: 70%;
}
.flecha {
    position: fixed;
    bottom: 10%;
    right: 2%;
}
.piePagina {
    background-color: rgb(39, 39, 172);
    color: aquamarine;
    font-size: x-small;
    text-align: center;
    height: 3vw;
    width: 100%;
}
