* {
    margin: 0;
    padding: 0;
}
.output {
    font: 1rem 'Poppins', Sans-serif, Times;
    border: none;
}
body{
    background-color: rgba(77, 199, 255, 0.872);
    font-family: 'Poppins', Sans-serif, Times;
    margin: 0.5em;
    padding-top: 2em; /* Padding para que no se encime con el Encabezado*/
    overflow: auto;
}
.seccion {
    position: relative;
    text-align: center;
    font-size: large;
    border: 5%;
    top: 10em;
}
.articulo1 {
    background-color:beige;
}
.articulo2 {
    background-color: rgb(89, 241, 162);
}
.articulo3 {
    background-color: rgb(238, 243, 104);
    font-size: xx-small;
}
.articulo4 {
    background-color: rgb(241, 175, 89);
    font-size: small;
}
h1 {
    font-size:xx-large;
}
h2 {
    font-size: large;
    color: red;
    text-align: auto;
    /* margin: 0 25px; */
}
span {
    font-weight: bold;
}
.container img {
    width: 20rem;
    height: auto;

}
.container {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 35% 65%;*/
    column-gap: 5px;
    justify-content: space-around;
    align-content: center;
}
.item1 {
    flex: 35%;
}
.item2 {
    flex: 64%;
}
.articulo3 .item1,.item2 {
    flex: 33%;
    flex-direction: row;
}
.articulo3 .item1:first-child {
    flex: 35% ;
}
.articulo3 .item2:first-child {
    flex: 64% ;
}
.articulo1 h2 {
    text-align: left;
    margin-left: 11rem;
}
table {
    margin: 15px;
}
th {
    padding: 0.2em
}
.item2 table,th,td {
    table-layout: auto;
    border: 1px solid darkred;
    margin: auto auto 5px;
    font-size: medium;
}

/* Contacto */

.articulo5 {
    background-color: rgb(249, 112, 112);
}
.articulo5 .etiqueta {
    text-align: right;
    width: 2em;
}
form {
    width: auto;
    margin: 0.5em 10%;
}
form table {
    width: 95%;
}
form .etiqueta {
    padding: 0 0.5em;
}

input[type=text],input[type=email],input[type=tel]{
    width: 90%;
    border-radius: 5px;
    align-items: left;
}
textarea {
    width: 90%;
    height: 10em;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
    margin: 0.2 0.5em;
}
input:focus,textarea:focus {
    border: 1px solid violet;
    background-color: rgb(100, 29, 111);
    color: white;
}

/* Footer */
.piePagina {
    margin-top: 12em;
}

/* Celulares */
@media only screen and (max-width: 450px) {
    .seccion {
        top: 8em;
        font-size: small;
    }
    h1 {
        font-size: large;
    }
    h2 {
        font-size: medium;
    }
    .container img {
        width: 13em;
    }
    .articulo1 h2 {
        margin: 0;
        text-align: center;
    }
    .item1,item2 {
        flex: 100%;
    }
    .item2 table,th,td {
        font-size: x-small;
    }

    /* Footer */
    .piePagina {
        margin-top: 7em;
    }
}

/* iPad */
@media only screen and (min-width: 450px) and (max-width: 810px) {
    .seccion {
        top: 13rem;
        /* font-size: medium; */
    }
    .container img {
        width: 13rem;
    }    
    .articulo1 h2 {
        margin: 0 1em;
        text-align: left;
    }
    .item1 {
        flex: 35%;
    }
    .item2 {
        flex: 64%;
    }
    .item2 table,th,td {
        table-layout: auto;
        border: 1px solid darkred;
        margin: auto auto 5px;
        font-size: small;
    }
        
    /* Footer */
    .piePagina {
        margin-top: 14em;
    }
}